@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500;600;700;800&display=swap');

body{
     margin: 0;
     padding: 0;
     font-family: 'Raleway','sans-serif';
     box-sizing: border-box;
}
 .color-blue{
     color: #0065FC !important ;
     border-top: 4px solid #0065FC;
}  
img{
     object-fit: cover
}
.container{
     padding: 0 45px 0 45px;
     max-width: 1440px;
     margin: auto;
}
/* HEADER */ 
header{
     display: flex;
}
header h1{
     margin: 20px 0 0 40px;
     font-family: 'Raleway' , 'sans-serif';
}
header h1 a{
     text-decoration: none;
     color: #0065FC;
}
header nav {
     width: 100%;
}
header nav ul {
     display: flex;
     float: right;
     list-style: none;
}
header nav ul li {
     padding: 0px 30px 0px 30px;
     margin-top:20px
}
header nav ul li a{
     text-decoration: none;
     color: black ;
     padding: 33px 0 0 0;
     font-weight: bold;
}
header nav ul li a:hover{
     color: #0065FC !important;
     border-top: 3px solid #0065FC;
}
header nav ul li:last-child a{
     font-weight: bold;
     color: #0065FC !important;
}

/* NAV */ 

.nav-section h2{
     font-weight: 800;
     font-size: 1.9rem;
     padding-top: 30px;
     line-height: 30px;
}
.nav-section p{
     padding-bottom: 20px;
     color: rgb(53, 53, 53);
}
.input-wrapper{
     display: inline-flex;
     border: 1px #f2f2f2 solid;
     border-radius: 15px;
     height: 47px;
}
.input i{
     height: 47px;
     width: 47px;
     background-color: #f2f2f2;
     border-radius: 15px 0 0 15px;
     display: flex;
     justify-content: center;
     align-items: center;
     cursor: pointer;
}
.input input{
     font-weight: bolder;
     border: none;
     font-size: 15px;
     margin-left: 20px;
     text-align: left;
}
.input input:focus{
     outline: none;
}
.input button{
     border-radius: 0 15px 15px 0;
     font-size: 16px;
     font-weight: bolder;
     margin-left: 50px;
     width: 140px;
     border: none;
     background-color: #0065FC;
     cursor: pointer;
     color: white;
}
.btn-icone{
     display: none !important;
}
.filtres{
     display: flex;
     margin-top: 50px;
     flex-wrap: wrap;
}
.filtres h4{
     padding-right: 20px;
}
.filtres h4:first-child{
     margin-right: 50px;
     font-size: 20px;
}
.tag{
     display: flex;
     justify-content: center;
     align-items: center;
     height: 60px;
     border: 3px solid #f2f2f2;
     border-radius: 50px;
     margin-right: 15px;
     margin-bottom: 15px;
     transition: 0.3s ease-in-out;
     cursor: pointer;
}
.tag:hover{
     transform: scale(1.1);
     color: #0065FC;
}

.tag i{
     background-color: #DEEBFF;
     color: blue;
     width: 63px;
     height: 63px;
     border-radius: 50%;
     margin-right: 20px;
     display: flex;
     justify-content: center;
     align-items: center;
}
.information i{
     font-size: 2rem;
     color: black;
     padding: 0 0 20px 20px;
}
.information {
     font-weight: 200;
     display: flex;
     margin-top: 10px;
}
.information-icone {
     margin-top: 9px;
     margin-right: 15px;
}
.tag h4{
     margin-right: 10px;
     padding-left: 20px;
     font-weight: bolder;
}
.tag i {
     margin: -1px 0 -1px -1px;
}
/* MAIN */ 
.main{
     display: flex;
     justify-content: space-between;
}

/* HEBERGEMENTS */ 

.hebergements-section{
     background-color: #f2f2f2;
     display: flex;
     justify-content: center;
     flex-direction: column;
     border-radius: 20px;
     padding: 0 5px 0 5px;
     height: auto;
     width: 62%;
}
.heberg-grid{
     display: grid;
     grid-template-columns: repeat(auto-fill, 250px);
     justify-content: center;
     grid-gap: 35px;
}
.hebergements-section h2{
     font-weight: bolder;
     padding: 20px 0 20px 40px;
     font-size: 25px;
}
.hebergements-section h5{
     font-weight: bold;
     font-size: 18px;
     margin: 3px 7px
}
.afficher-plus{
     padding: 40px 0 20px 30px;
}
.heberg-item{
     background-color: white;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     border-radius: 25px;
     text-align: left;
     width: 100%;
     box-shadow: 2px 2px 10px darkgrey;
     cursor: pointer;
}
.img-container{
     display: flex;
     justify-content: center;
     align-items: center;
}
.heberg-item-img{
     object-fit: cover;
     padding-top: 4px;
     width: 96%;
     height: 110px;
     border-radius: 22px 22px 0 0 ;  
}
.heberg-content{
     padding: 10px 0px 20px 10px;
}
.heberg-item p{
     line-height: 0px;
     margin: 13px 7px
}
.star-container{
     color : #0065FC;
     padding-left: 7px;
}

/* POPULAIRE */ 

.populaire-section{
     width: 32%;
     height: auto;
     background-color: #f2f2f2;
     border-radius: 20px;
     position: relative;
}
.populaire-icon{
     position: absolute;
     right: 20px;
     top: 20px;
     font-size: 2rem;
}
.populaire-section h2{
     font-weight: bolder;
     font-size: 25px;
     padding: 0 30px;
}
.populaire-container{
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     align-items: center;
     padding-top: 20px;
}
.popu-item{
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 4px 0px 4px 0px;
     border-radius: 20px;
     width: 90%;
     margin-top: 30px;
     background-color: white;
     box-shadow: 2px 2px 10px darkgray;
     line-height: 0.2rem;
     cursor: pointer;
}
.img-container2{
     width: 35%;
     margin-left: 4px;
     height: 100%;
}
.popu-item img{
     width: 100%;
     object-fit: cover;
     height: 140px;
     border-radius: 18px 0 0 18px;
}
.populaire-content{
     width: 60%;
     height: 125px;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
}
.populaire-content h3{
     margin-bottom: 0;
     margin-top: 10px;
}
.populaire-content h3:nth-child(2){
     margin-bottom: 15px;
     margin-top: -20px;
}
.populaire-content p{
     margin-top: -30px;
     line-height: 0;
     
}
.populaire-content .star-container{
     margin-left: -6px;
}

/****                     ACTIVITES                  ******/ 
.activites-section{
     margin-top: 60px;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
}
.activites-section h3{
     font-size: 25px;
     font-weight: bolder;
     margin-bottom: 40px;
}
.activites-h3{
     width: 100%;
}
.activites-section h4{
     font-size: 18px;
     font-weight: bold;
}
.activites-grid{
     display: grid;
     width: 100%;
     grid-template-columns: 23.5% 23.5% 23.5% 23.5%;
     grid-template-rows: 150px 20px 20px 20px 150px;
     grid-gap: 20px;
     justify-content: center;
}
.activites-item{
     display: flex;
     flex-direction: column;
     background-color: #f2f2f2;
     overflow: hidden;
     border-radius: 15px;
     height: 100%;
     box-shadow: 2px 2px 10px darkgray;
     cursor: pointer;
}
.img-wrapper{
     position: relative;
     height: 100%;
}
.activites-item-img{
     object-fit: cover;
     position: absolute;
     width: 100%;
     height: 100%;     
}
.activites-item h4{
     padding-left: 20px;
}
.activites-item1{
     grid-area: 1 / 1 / 6 / 1;
}
.activites-item2{
     grid-area:  1 / 2 / 4 / 2;
}
.activites-item3{
     grid-area: 4 / 2 / 6 / 2;
}
.activites-item4{
     grid-area: 6 / 3 / 1 / 3;
}
.activites-item5{
     grid-area: 1 / 4 / 3 / 4;
}
.activites-item6{
     grid-area: 3  / 4 / 6 / 4;
}

/* FOOTER */

footer{
     background-color: #f2f2f2;
     margin-top: 50px;
}
.footer-container{
     width: 80%;
     display: flex;
     justify-content: space-around;
}
footer h4{
     font-weight: 800;
     font-size: 1.1rem;
     margin-top: 50px;
}
footer ul li {
     list-style: none;
     line-height: 2rem;
     color:#505050;
}
/***** MEDIA QUERIES TABLETTE ******/

@media screen and (max-width:1380px){
    
     .main{
          display: flex;
          flex-direction: column-reverse;
          justify-content: center;
          align-items: center;
     }
     .hebergements-section{
          width: 100%
     }
     .populaire-container{
          padding-top: 0  !important;
     }
     .populaire-section{
          width: 100%;
          margin: 10px 0 60px 0;
     }
     .popu-item:last-child{
          margin-bottom: 50px;
     }
     .heberg-grid{ 
          display: grid;
          grid-template-columns: repeat(auto-fill, 300px);
          justify-content: center;
          grid-gap: 35px;
     }
     .activites-grid{
          display: grid;
          width: 100%;
          grid-template-columns: 45% 45%;
          grid-template-rows: 200px 200px 200px;
          grid-gap: 25px;
     }
     .activites-item1{
          grid-area: 2 / 1 / 2 / 1;
     }
     .activites-item2{
          grid-area:  2 / 3 / 3 / 2;
     }
     .activites-item3{
          grid-area: 3 / 1 / 6 / 2;
     }
     .activites-item4{
          grid-area: 2 / 2 / 1 / 2;
     }
     .activites-item5{
          grid-area: 1 / 1 / 2 / 1;
     }
     .activites-item6{
          grid-area: 3  / 2 / 6 / 2;
     }
     footer{
          padding : 0 20px 20px 20px;
     }
     .footer-container{
          width: 100%;
     }
     footer ul{
          padding: 0 0 0 15px;
     }
}
/* FIN MEDIA TABLETTE */

/* DEBUT MEDIA MOBILE */ 

@media screen and (max-width:700px){
     
     header{
          display: flex;
          flex-direction: column;
          width: 100%;
          position: relative;
     }
     header h1{
          margin: 20px 0 0 25px;
     }
     header ul{
          padding : 0;
          width: 100%;
     }
     header ul li:first-child{
          border-bottom: #0065FC 4px solid;
          padding-bottom: 20px;
     }
     header ul li{
          border-bottom: lightgray 4px solid;
          width: 100%;
          border-top: none;
          text-align: center;
     }
     header ul li a:hover {
          border-top: none  !important;
     }
     .color-blue{
          border-top: 0;
     }
     header ul li:last-child{
          position: absolute;
          text-align: right;
          top : 10px;
          right:  0;
          border: none;
     }
     nav{
          display: flex;
          justify-content: space-around;
          align-items: center;
     }
     .nav-section h2{
          line-height: 30px;
          margin-top: 0;
          margin-left: 20px;
     }
     .nav-section p{
          margin-left: 20px;
     }
     .input{
          margin-left: 20px;
     }
     .filtres{
          display: flex;
          flex-wrap: wrap;
          margin-left: 10px;
          margin-top: 0;
     }
     .filtres h4:first-child{
          margin-right: 15px;
          margin-left: 10px;
     }
     .filtres-tag{
          width: 90%;
     }
     .tag{
          margin: 10px 10px;
          word-break:keep-all;
     }
     .information{
          width: 100%;
     }
     .information p {
          margin-left:0;
          margin-right: 10px
     }
     .container{
          padding: 0 0 0 0;
     }
     .populaire-section{
          display: flex;
          flex-direction: column;
          width: 100%;
          border-radius : 0px 
     }
     .popu-item:last-child{
          margin-bottom: 30px;
     }
     .hebergements-section{
          background-color: white;
          margin-bottom: 0;
          width: 85%;
     }
     .hebergements-section h2{
          text-align: center;
          padding: 0;
     }
     .heberg-grid{
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
     }
     .hebergements-section h2{
          text-align: left;
     }
     .heberg-item{
          width: 100%;
     }
     .heberg-item-img{
          object-fit: cover;
          padding-top: 4px;
          width: 98.2%;
          height: 110px;
          border-radius: 25px 25px 0 0 ;
     }
     .afficher-plus{
          padding: 30px 0 0 0;
          margin: 0;
     }
     .activites-section{
          margin-bottom: 50px;
     }
     .activites-section h3{
          display: flex;
          flex-direction: column;
          justify-content: center;
          font-size: 25px;
          font-weight: bolder;
          margin: 0 0 30px 30px;
     }
     .activites-grid{
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 90%;
     }
     .activites-item{
          height: 200px;
          width: 100%;
     }
     .footer-container{
          display: flex;
          flex-direction: column;
          padding-left: 20px;
     }
     .footer-container ul {
          padding-left : 20px;
          margin: 0
     }
}


@media screen and (max-width:500px){
     .input{
          display: flex;
          justify-content:center;
          align-items: center;
          position: relative;
          margin: 0
     }
     .input-wrapper{
          padding: 0;
          width: 90%;
          display: flex;
          justify-content: space-between;
     }
     .input i{
          height: 47px;
          width: 55px;
          background-color: #f2f2f2;
          border-radius: 15px 0 0 15px;
          display: flex;
          justify-content: center;
          align-items: center;
     }
     .input input{
          margin-left : 0
     }
     .input button{
          padding: 0;
          margin : 0;
     }
     .btn-texte{
          display: none;
     }
     .btn-icone{
          display:inline-flex !important;
          font-size: 16px;
          font-weight: bolder;
          border-radius: 15px 15px 15px 15px !important;
          width: 60px !important;
          border: none;
          background-color: #0065FC !important;
          cursor: pointer;
          color: white;
     }
     .nav-section h2{
          font-size: 1.7rem;
     }
     .populaire-content h3{
          font-size: 1.1rem;
          line-height: 1.1rem;
          margin-bottom: 5px;
     }
     .h3-chiant{
          margin-top: -30px !important;
          margin-bottom: 10px !important;
     }
     .populaire-content p{
          line-height: 1.1rem;
     }
     .hebergements-section h2{
          font-size: 1.4rem;
     }
     .populaire-section h2{
          font-size: 1.4rem;
     }
     .heberg-content h5{
          font-size: 1.1rem;
     }
     .activites-h3 h3{
          font-size: 1.4rem;
     }
     .activites-item{
          font-size: 1.1rem;
     }
     footer h4{
          margin-top: 30px;
     }
}